* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #ffffff;

  --gray: #e5e5e5;

  --red: #e02041;
  --black: #000;
}

@media (max-width: 1080px) {
  html {
    font-size: 100%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

body {
  background: var(--white);
  color: var(--black);
}

body,
input,
select,
textarea,
button {
  font: 400 1rem "Roboto", sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}

.headerContainer {
  height: 5rem;
  background: var(--gray);
}

.headerContent {
  max-width: 1120px;
  padding: 0 2rem;
  margin: 0 auto;

  display: flex;
  align-items: center;

  max-height: 100%;
}

.headerContent img {
  height: 256px;
  width: 256px;
}

.container {
  width: 100%;
  max-width: 1120px;
  padding: 2rem;
  margin: 0 auto;

  position: relative;

  flex: 1 0 auto;
}

.footer {
  height: 5rem;
  background: var(--gray);
}

.btn {
  border: 0;
  background-color: var(--red);
  color: var(--white);

  text-align: center;

  padding: 1rem 2rem;

  min-width: 10rem;

  border-radius: 0.5rem;

  transition: filter 0.2s;
}

.btn:hover {
  filter: brightness(0.8);
}

.input {
  padding: 0.5rem;
  padding-left: 1rem;
  font-size: 1.2rem;
  border-radius: 1rem;
  background-color: var(--gray);
  outline: none;
  border: 0;
}

.submitBtn {
  margin-top: 1rem;
  margin-left: 0.5rem;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

label {
  display: flex;
  flex-direction: column;
}

label input {
  margin-top: 0.5rem;
}

/* Home */

.optionsWrapper {
  width: 100%;

  margin-top: 2rem;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.homeBtn {
  padding: 2rem 1rem;
  font-size: 1.5rem;
}

/* Cidades */

.acoes {
  width: 2rem;
}

table {
  width: 100%;
}

table,
th,
td {
  border: 0px;
  border-collapse: separate;
  border-spacing: 0 15px;
}

td {
  background-color: var(--gray);
  padding: 10px;
}

td:first-child {
  border-left-style: solid;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

td:last-child {
  border-right-style: solid;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

button {
  border: none;
  float: right;
  border-radius: 10px;
  margin: 15px;
  background-color: var(--red);
  width: 100px;
  height: 50px;
}

.botoes {
  position: absolute;
  right: 50px;
  bottom: 10px;
  margin-bottom: 2rem;
}

#voltar {
  margin-right: 0.5rem;
}
